
body {
    background-color: floralwhite;
}

    div {
    display: flex;
    color: cornsilk;
    font-size: medium;
    font-family: cursive;
}
    h2 {

    font-weight: 600;
    font-family: sans-serif;
    font-size: 20px;
    color: dimgray;
    justify-content: start;
    border-bottom: 2px outset black;
    padding-bottom: .25em;

    
}

    h4 {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 38px;
    justify-content: start;
    border-bottom: 3px solid black;
    padding-bottom: .25em;

}
    
p {
    font-weight: 200;
    font-family: sans-serif;
    font-size: 20px;
}

   